*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	margin: 50px auto;
	width: 960px;
}
.box1{
	float: left;
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	border: 1px solid grey;
}
.box1-img{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
}
.box2{
	float: left;
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	border: 1px solid grey;
}
.box2-img{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
}
.box3{
	float: left;
	width: 300px;
	padding: 10px;
	border: 1px solid grey;
}
.box3-img{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
}
@media screen and (max-width: 768px){
	.main{
		width: 100%;
		margin: 50px 0;
	}
	.box1{
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.box1-img{
		height: 150px;
		background-size: cover;
		background-position: center;
	}
	.box2{
		width: 90%;
		float: none;
		margin: 20px auto;
	}
	.box2-img{
		height: 150px;
		background-size: cover;
		background-position: center;
	}
	.box3{
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.box3-img{
		height: 150px;
		background-size: cover;
		background-position: center;
	}
}# enshu9
